# Copyright (c) 2018-2019 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

[Unit]
Description=CV2X KPI test
After=systemd-networkd.socket
Requires=systemd-networkd.socket

[Service]
Type=simple
ExecStart=/usr/bin/acme -R -k 1 -q

[Install]
WantedBy=multi-user.target
