# Copyright (c) 2017-2018 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

[Unit]
Description=Kinematics Server
Requires=network.target local-fs.target qrtr.service
After=network.target local-fs.target qrtr.service
PartOf=cv2x.target

[Service]
Type=notify
ExecStart=/usr/bin/kinematics-server -p
Restart=always

[Install]
WantedBy=multi-user.target cv2x.target
