# Copyright (c) 2018 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

[Unit]
Description=Kinematics Chrony Source
Requires=systemd-networkd.socket chronyd.service
After=systemd-networkd.socket chronyd.service

[Service]
Type=simple
ExecStart=/usr/bin/kinematics-chrony
Restart=always

[Install]
WantedBy=multi-user.target
